[submodule "tingle/tingle-scroller"]
	path = tingle/tingle-scroller
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-scroller.git
[submodule "tingle/tingle-search-bar"]
	path = tingle/tingle-search-bar
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-search-bar.git
[submodule "tingle/tingle-group-list"]
	path = tingle/tingle-group-list
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-group-list.git
[submodule "tingle/tingle-text-field"]
	path = tingle/tingle-text-field
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-text-field.git
[submodule "tingle/tingle-field"]
	path = tingle/tingle-field
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-field.git
