.pickerDemo
    position fixed
    width 100%
    .filterBG
        background url(bg.png)
        background-size cover
        height 100%
    .tPicker
        position absolute
        top 0
        width 100%
        .pickerItem
            line-height 30px

