/**
 * Picker Component Style for tingle
 * @author eternalsky
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

.tPicker
  position fixed
  top 0
  width 100%
  z-index 11

.tPickerMainBox
  position absolute
  width 100%

.tPickerKeybar
  width 14px
  font-size 10px
  position fixed
  right 0
  top 30%
  z-index 30
  text-align center

  span
    display block
    padding 2px 0
    color #F4AE58